<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the website</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>This is contact us page</h1>
        <p>
            Get your tab groups on the go
            Just like your bookmarks and passwords, your tab groups are now available across all your devices. Get started on one device and pick up your project on another device.

            To start seeing your tab groups across devices:

            Sign in and create a tab group on your computer or phone.
            Your tab group will automatically save to your account.
            Open your group on a different device.
            Mobile: go to your open tabs, click the tab group section .

            Desktop: click the tab group icon  in your bookmarks bar (if open) or the Chrome menu.
        </p>
        <a href="../" class="btn btn-primary">Home</a>
    </div>
    
</body>
</html>